@font-face {
    font-family: 'Glyphicons Halflings';

    src: url('../fonts/glyphicons-halflings-regular.eot');
    src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

body {
  padding-top: 60px;
}
@media (max-width: 979px) {
  body {
    padding-top: 20px;
  }
}

.table .pointer
{
    cursor: pointer; cursor: hand;
}

.jumbotron-static-height
{
	min-height: 350px;
  -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

@media only screen and (min-height: 900px){	
	.jumbotron-static-height
	{
		min-height: 600px;
  -webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
	}
}

.calamity-map {
	min-height: 600px;
	-webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

.alert-map {
	min-height: 400px;
	-webkit-box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
          box-shadow: 0 0px 6px 0 rgba(0, 0, 0, 0.2), 0 0px 10px 0 rgba(0, 0, 0, 0.19);
}

.description{
	min-height:150px;
}

@media (min-width: 979px) {
.login {
	min-height: 200px;
}

@media (min-width: 979px) {
.search {
	margin-top: 10px;
}

@media (min-width: 979px) {
.extra-info {
	min-height: 200px;
}

.extra-info {
    margin-top: -4%;
	position: relative;
}

.justify {

    text-align: justify;
    text-justify: inter-word;
}
